<h1>Reserved books</h1>


  <tr>
    <th>Book</th>
    <th>     </th>
    <th>Author</th>
  </tr>

<table>
  <tr>
    <td><%=h @books.title %></td>
    <td><%=             %></td>
    <td><%=h @books.author %></td>
  </tr>
</table>

<br />
