<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Author</th>

    <% if @books.empty? %>
        <td>No books Available</td>
        </tr>
    <% else %>
        <% @books.each do |book| %>
            <tr>
              <td><%= h book.title %></td>
              <td><%= %></td>
              <td><%= h book.author %></td>
              <% if book.isAvailable=true %>
                  <td><%= link_to 'Reserve', book %></td>
              <% end %>
            </tr>
        <% end %>
    <% end %>
    </table>

<br/>
